[submodule ".config/awesome/lain"]
	path = .config/awesome/lain
	url = https://github.com/lcpz/lain.git
[submodule ".config/awesome/freedesktop"]
	path = .config/awesome/freedesktop
	url = https://github.com/lcpz/awesome-freedesktop.git
[submodule ".config/awesome/awesome-buttons"]
	path = .config/awesome/awesome-buttons
	url = git@github.com:streetturtle/awesome-buttons.git
[submodule ".config/awesome/treetile"]
	path = .config/awesome/treetile
	url = http://github.com/guotsuan/treetile.git
