# HTML Doctype 5
snippet doctype
	<!DOCTYPE HTML>

snippet html
	<!DOCTYPE HTML>
	<html>
		<head>
			<title>${1}</title>
		</head>
		<body>
			${2}
		</body>
	</html>

snippet script src
	<script type="text/javascript" src="${1}"></script>

snippet script text
	<script type="text/javascript">
		${1}
	</script>

snippet style rel
	<link rel="stylesheet" type="text/css" href="${1}">

snippet style text
	<style type="text/css">
		${1}
	</style>
